@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Darker+Grotesque:wght@300..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-border: #dcdcdc; /* Border Color */
  --ta-sans-serif: "Trip Sans VF","Trip Sans",Arial,sans-serif; 
  --ta-serif: "Outfit", sans-serif; 
  --ta-monospace: "Trip Sans Mono",Courier,monospace,Arial,sans-serif; 
  --ta-Bodoni: "Bodoni Moda", serif;
  --ta-Darker: "Darker Grotesque", sans-serif;
  /* --ta-Rouge: "Rouge Script", serif; */
  /* --ta-Madi: "Ms Madi", serif; */
  --ta-Cinzel: "Cinzel Decorative", serif;
  --ta-Lancelot: "Lancelot", serif;
  --ta-Quintessential: "Quintessential", serif;
  --ta-Raleway: "Raleway", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--ta-serif);
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0f1535, #6a11cb, #2575fc) !important;
}